* {
  font-family: Helvetica;
}

header {
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*8cl8sr*_ga*MDc1OTYwNDg3Ny4xNjc2NTgxMTQ3*_ga_3LRZM6TM9L*MTY4MjE3MzYwOS4zNy4xLjE2ODIxNzM4OTUuNTguMC4w);
}

.title {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.category {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

strong {
    font-weight: bold;
    color: blue;
}